#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.botonCompleto {
  border: solid;
  background-color: lightgreen;
}

.botonIncompleto {
  border: solid;
  background-color: lightcoral;
}